/* You can add global styles to this file, and also import other style files */

body > div.ellipsis-content {
  // position: absolute;
  // z-index: 1000;
  // top: 0;
  // right: 0;
  // left: 0;
  background-color: dodgerblue;
  padding: 8px;
  border-bottom: 5px solid #000;
}

app-root section p {
  border: 2px dashed crimson;
}
