:host {
  border: 3px solid dodgerblue;
  display: block;
  margin: 8px;
}
img {
}
p {
  background-color: red;
}
div {
  font-weight: bold;
  background-color: cornflowerblue;
}
span {
  background-color: antiquewhite;
}
