<a class="back-to-list" routerLink="/content">
  Back to list
</a>
<a *ngIf="videoGameDetailItem && videoGameDetailItem.id > 0" class="previous-detail"
  [routerLink]="['/content', videoGameDetailItem.id - 1]">
  Previous detail
</a>
<div *ngIf="videoGameDetailItem" class="content-wrapper">
  <h2>{{videoGameDetailItem.title}}</h2>
  <img *ngIf="videoGameDetailItem.imgSrc" [src]="videoGameDetailItem.imgSrc">
  <p *ngIf="videoGameDetailItem.description" [innerHTML]="videoGameDetailItem.description"></p>
  <div class="meta-data">
    <span class="author">{{videoGameDetailItem.author}}</span>
    <span class="type">{{videoGameDetailItem.type}}</span>
  </div>
  <div *ngIf="videoGameDetailItem.tags" class="tags">
    <span *ngFor="let tag of videoGameDetailItem.tags">{{tag}}</span>
  </div>
</div>